.newbtn {
  background-color: '#5356FF';
  margin-left: 1400px;
  &:hover {
    background-color: '#5356FF';
  }
}


.DialogActions{
  background-color: #fff;
  color: black;
}

.EditActionButtons{
  background-color: #0906ac;
  color: black;
}